extends layout

block content

    h3= "Список веток"
    ul
        each val in branchName
            li
                if val.current
                    a.current(href="/git/checkout/#{val.name}") #{val.name}
                else
                    a(href="/git/checkout/#{val.name}") #{val.name}

    h3= "История коммитов выбранной ветки"
    ul
        each commit in commits
            li
                a(href="/git/show/#{commit.commitHash}/initialSecretValue") #{commit.str}

    h3= "Дерево файлов"
    ul
        each file in fileTree
            li
                if file.hash
                    a(href="/git/cat/#{file.hash}") #{file.filePath}
                else
                    a(href="/git/show/#{commits[0].commitHash}/#{file.filePath}") #{file.filePath}